//VARIABLES
$white: #ffffff;
$offWhite: #e3e3e3;
$deepBlue: #00073b;
$lightBlue: #0075ed;
$darkGrey: #1f1f1f;
$grey: #333333;
$offGrey: #312c2c;
$black: #000000;
$fontBely: "bely-display", sans-serif;
$fontBarlow: "Barlow", sans-serif;
$fontLexend: "Lexend Zetta", sans-serif;

//MQ
@mixin mQ($arg...) {
  @if length($arg) == 1 {
    @media screen and (max-width: nth($arg, 1 )) {
      @content;
    }
  }
  @if length($arg) == 2 {
    @media screen and (max-width: nth($arg, 1 )) and (min-width: nth($arg, 2 )) {
      @content;
    }
  }
}
//MIXINS
@mixin centerPortfolio {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $deepBlue;
}
@mixin h6Portfolio {
  font-family: $fontLexend;
  font-size: 16px;
  text-transform: uppercase;
  opacity: 0.75;
  margin-top: 10px;
  @include mQ(600px, 320px) {
    font-size: 12px;
  }
}
@mixin navbar {
  width: 100%;
  background-color: $grey;
  display: flex;
  justify-content: center;
  color: $white;
  font-size: 16px;
  text-transform: uppercase;
  opacity: 1;
  font-family: $fontLexend;
  @include mQ(600px, 320px) {
    font-size: 14px;
  }
}
@mixin tabsWrapper {
  width: 100%;
  height: 40vh;
  background-color: $darkGrey;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  @include mQ(1024px, 601px) {
    height: 50vh;
  }
  @include mQ(600px, 320px) {
    height: 65vh;
  }
}
@mixin tabsContent {
  height: 100%;
  display: flex;
  width: 100%;
  padding: 30px 0px;
  overflow-y: scroll;
}
@mixin tool {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 14px 10px 0px 0px;
  @include mQ(600px, 320px) {
    margin: 10px 8px 0px 0px;
  }
}
@mixin placeholder {
  font-family: $fontBarlow;
  font-size: 16px;
  color: $white;
}

//---->LAYOUTS<----//

//UNTOUCHED Navbar --> Hero/Nav Styling
.portfolio-wrapper {
  height: 90vh;
  overflow-y: scroll;
  @include centerPortfolio();
  .portfolio-logo {
    width: 394px;
    height: 411px;
    padding-top: 20px;
    @include mQ(600px, 320px) {
      width: 320px;
      height: 362px;
    }
    img {
      width: 357px;
      height: 300px;
      @include mQ(600px, 320px) {
        width: 320px;
        height: 269px;
      }
    }
    .portfolio-header {
      width: 100%;
      color: $white;
      text-align: center;
      h2 {
        font-family: $fontBely;
        font-size: 40px;
        @include mQ(600px, 320px) {
          font-size: 36px;
        }
      }
      h6 {
        @include h6Portfolio();
      }
    }
  }
}
.navbar-wrapper {
  width: 100%;
  height: 10vh;
  .navbar {
    @include navbar();
    height: 100%;
  }
}

//TOUCHED Navbar --> Hero/Nav Styling
.portfolio-wrapper-two {
  height: 50%;
  overflow-y: scroll;
  transition: 1s;
  @include centerPortfolio();
  @include mQ(1024px, 601px) {
    height: 40%;
  }
  @include mQ(600px, 320px) {
    height: 25%;
  }
  .portfolio-logo {
    width: 374px;
    height: 341px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mQ(1024px, 320px) {
      width: 318px;
      height: 84px;
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
    }
    img {
      width: 307px;
      height: 250px;
      @include mQ(600px, 320px) {
        width: 100px;
        height: 84px;
      }
    }
    .portfolio-header {
      width: 100%;
      color: $white;
      text-align: center;
      @include mQ(1024px, 320px) {
        width: 208px;
        display: flex;
        flex-direction: column;
        text-align: inherit;
        justify-content: center;
        padding-left: 12px;
      }
      h2 {
        font-family: $fontBely;
        font-size: 40px;
        @include mQ(600px, 320px) {
          font-size: 22px;
        }
      }
      h6 {
        @include h6Portfolio();
        span {
          @include mQ(600px, 320px) {
            margin-left: 70px;
          }
        }
      }
    }
  }
}
.navbar-wrapper-two {
  width: 100%;
  height: 50vh;
  overflow: scroll;
  .navbar {
    @include navbar();
    height: 10vh;
  }
  @include mQ(1024px, 601px) {
    height: 60vh;
  }
  @include mQ(600px, 320px) {
    height: 75vh;
  }
}

//NABVAR UNIVERSAL//
.navbar {
  div {
    width: 478px;
    display: flex;
    align-items: center;
    justify-content: center;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      width: 100%;
      justify-content: space-between;
      .tab {
        cursor: pointer;
      }
      .active {
        border-bottom: 2px solid white;
      }
    }
    @include mQ(600px, 320px) {
      width: 320px;
    }
  }
}

//---->TABS<---//

//--ABOUT--//
.about {
  display: none;
}
.about-wrapper {
  @include tabsWrapper();
  @include mQ(600px, 320px) {
    align-items: baseline;
  }
  .about-content {
    width: 645px;
    @include tabsContent();
    flex-direction: column;
    align-items: center;
    font-family: $fontBarlow;
    color: $white;
    font-size: 16px;
    @include mQ(600px, 320px) {
      width: 320px;
      font-size: 14px;
      height: 100%;
      padding-top: 30px;
    }
    .about-text {
      width: 600px;
      @include mQ(600px, 320px) {
        width: 320px;
      }
      img {
        width: 30px;
        height: 30px;
        margin: 10px 5px;
      }
    }
    .about-text-two {
      width: 600px;
      @include mQ(600px, 320px) {
        width: 320px;
      }
    }
    .about-toolbelt {
      width: 600px;
      display: flex;
      flex-wrap: wrap;
      @include mQ(600px, 320px) {
        width: 320px;
      }
      .tool {
        padding: 14px 25px 14px;
        background-color: $grey;
        @include tool();
      }
    }
  }
}

//--PROJECTS--//
.projects {
  display: none;
}
.projects-wrapper {
  @include tabsWrapper();
  .projects-content {
    @include tabsContent();
    justify-content: center;
    .projects {
      width: 600px;
      height: 260px;
      padding-bottom: 10px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      align-items: center;
      justify-items: center;
      flex-wrap: wrap;
      cursor: pointer;
      @include mQ(600px, 320px) {
        width: 320px;
      }
      .project {
        width: 295px;
        height: 125px;
        border-radius: 10px;
        background-color: $grey;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 10px 10px 0px;
        @include mQ(600px, 320px) {
          width: 155px;
          height: 125px;
        }
        &:hover {
          background-color: $black;
        }
      }
    }
  }
}
// ...project extended --> (change display on project hover)
.hover {
  display: none;
}
.project:hover .hover {
  display: block;
  color: $white;
  font-family: $fontBarlow;
  background-color: $black;
  text-align: left;
  width: 100%;
  padding: 0px 25px;
  h1 {
    font-size: 20px;
    text-transform: uppercase;
    opacity: 0.75;
    @include mQ(600px, 320px) {
      font-size: 16px;
    }
  }
  p {
    font-size: 16px;
    opacity: 0.75;
    @include mQ(600px, 320px) {
      font-size: 12px;
    }
  }
}
.project:hover img {
  display: none;
}

//--CONTACT--//
.contact {
  display: none;
}
.contact-wrapper {
  @include tabsWrapper();
  .contact-content {
    @include tabsContent();
    justify-content: center;
    form {
      color: $white;
      font-size: 16px;
      font-family: $fontBarlow;
      width: 600px;
      height: 275px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include mQ(600px, 320px) {
        width: 295px;
      }
      p {
        padding-bottom: 24px;
      }
      .form-contents {
        width: 600px;
        height: 160px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include mQ(600px, 320px) {
          width: 295px;
        }
        .form-inputs {
          width: 600px;
          display: flex;
          justify-content: space-between;
          @include mQ(600px, 320px) {
            width: 295px;
            flex-direction: column;
          }
          input {
            width: 295px;
            height: 50px;
            background-color: $grey;
            border: none;
            outline: none;
            text-indent: 10px;
            &::placeholder {
              @include placeholder();
              opacity: 0.5;
            }
            &[type="text"] {
              @include placeholder();
            }
            &[type="email"] {
              @include placeholder();
            }
          }
        }
        .margin {
          @include mQ(600px, 320px) {
            margin-bottom: 12px;
          }
        }
        textarea {
          width: 600px;
          height: 100px;
          padding: 10px 0px;
          background-color: $grey;
          border: none;
          outline: none;
          resize: none;
          margin-top: 12px;
          text-indent: 10px;
          &::placeholder {
            @include placeholder();
            opacity: 0.5;
          }
          &[type="text"] {
            @include placeholder();
          }
          @include mQ(600px, 320px) {
            width: 295px;
            height: 80px;
          }
        }
      }
      button {
        width: 225px;
        height: 60px;
        background: $lightBlue;
        color: $white;
        font-family: $fontBarlow;
        font-size: 16px;
        border: none;
        align-self: center;
        margin-top: 18px;
        @include mQ(600px, 320px) {
          width: 295px;
          padding: 10px;
        }
        &:hover{
          background: #026bd4;
        }
      }
    }
  }
}

//--->MODAL<---//
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(50px);
  .modal-close {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    .modal-x {
      width: 500px;
      display: flex;
      justify-content: flex-end;
      .close {
        color: #aaaaaa;
        font-size: 38px;
        font-weight: bold;
        &:hover {
          color: $white;
          text-decoration: none;
          cursor: pointer;
        }
        @include mQ(1024px, 320px) {
        }
      }
      @include mQ(768px, 320px) {
        justify-content: center;
      }
    }
  }
  .modal-content {
    background-color: #fefefe;
    margin: 10px auto 60px auto;
    width: 400px;
    @include mQ(768px, 320px) {
      width: 380px;
      
    }
  }
  .top {
    background-color: $offGrey;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    padding: 0px 20px;
    .top-logo {
      justify-self: left;
      img {
        height: 50px;
      }
    }
    .top-btn {
      justify-self: flex-end;
      display: flex;
      align-content: center;
      button {
        width: 125px;
        height: 50px;
        border: none;
        color: $white;
        font-size: 16px;
        font-family: $fontBarlow;
        background-color: $lightBlue;
      }
    }
  }
  .middle {
    background-color: blue;
    height: 200px;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .bottom {
    background-color: palevioletred;
    width: 100%;
    display: flex;
    padding: 20px 20px 40px 20px;
    font-family: $fontBarlow;
    background-color: $white;
    font-size: 16px;
    @include mQ(600px, 320px) {
      font-size: 14px;
    }
    .bottom-content {
      width: 350px;
      display: flex;
      flex-direction: column;
      .bottom-title {
        p {
          opacity: 0.75;
          padding-bottom: 20px;
        }
      }
      .extra-padding {
        padding-top: 20px;
        font-weight: bold;
        opacity: 0.75;
      }
      .bottom-tech {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .tech {
          padding: 14px 25px 14px;
          background-color: $offWhite;
          margin: 5px;
          @include tool();
        }
      }
    }
  }
}
