.portfolio-wrapper {
  height: 90vh;
  overflow-y: scroll;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #00073b;
}

.portfolio-wrapper .portfolio-logo {
  width: 394px;
  height: 411px;
  padding-top: 20px;
}

@media screen and (max-width: 600px) and (min-width: 320px) {
  .portfolio-wrapper .portfolio-logo {
    width: 320px;
    height: 362px;
  }
}

.portfolio-wrapper .portfolio-logo img {
  width: 357px;
  height: 300px;
}

@media screen and (max-width: 600px) and (min-width: 320px) {
  .portfolio-wrapper .portfolio-logo img {
    width: 320px;
    height: 269px;
  }
}

.portfolio-wrapper .portfolio-logo .portfolio-header {
  width: 100%;
  color: #ffffff;
  text-align: center;
}

.portfolio-wrapper .portfolio-logo .portfolio-header h2 {
  font-family: "bely-display", sans-serif;
  font-size: 40px;
  background: 50% 100%/50% 50% no-repeat radial-gradient(ellipse at bottom, #fff, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear;
          animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear;
}

@-webkit-keyframes reveal {
  100% {
    background-size: 300% 300%;
  }
}

@keyframes reveal {
  100% {
    background-size: 300% 300%;
  }
}

@-webkit-keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}

@keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}

@media screen and (max-width: 600px) and (min-width: 320px) {
  .portfolio-wrapper .portfolio-logo .portfolio-header h2 {
    font-size: 36px;
  }
}

.portfolio-wrapper .portfolio-logo .portfolio-header h6 {
  font-family: "Lexend Zetta", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  opacity: 0.75;
  margin-top: 10px;
  background: 50% 100%/50% 50% no-repeat radial-gradient(ellipse at bottom, #fff, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear;
          animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear;
}

@media screen and (max-width: 600px) and (min-width: 320px) {
  .portfolio-wrapper .portfolio-logo .portfolio-header h6 {
    font-size: 12px;
  }
}

@keyframes reveal {
  100% {
    background-size: 300% 300%;
  }
}

@keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}

.navbar-wrapper {
  width: 100%;
  height: 10vh;
}

.navbar-wrapper .navbar {
  width: 100%;
  background-color: #8d586a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  opacity: 1;
  font-family: "Lexend Zetta", sans-serif;
  height: 100%;
}

@media screen and (max-width: 600px) and (min-width: 320px) {
  .navbar-wrapper .navbar {
    font-size: 14px;
  }
}

.portfolio-wrapper-two {
  height: 50%;
  overflow-y: scroll;
  -webkit-transition: 1s;
  transition: 1s;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #00073b;
}

@media screen and (max-width: 1024px) and (min-width: 601px) {
  .portfolio-wrapper-two {
    height: 40%;
  }
}

@media screen and (max-width: 600px) and (min-width: 320px) {
  .portfolio-wrapper-two {
    height: 25%;
  }
}

.portfolio-wrapper-two .portfolio-logo {
  width: 374px;
  height: 341px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1024px) and (min-width: 320px) {
  .portfolio-wrapper-two .portfolio-logo {
    width: 318px;
    height: 84px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.portfolio-wrapper-two .portfolio-logo img {
  width: 307px;
  height: 250px;
}

@media screen and (max-width: 600px) and (min-width: 320px) {
  .portfolio-wrapper-two .portfolio-logo img {
    width: 100px;
    height: 84px;
  }
}

.portfolio-wrapper-two .portfolio-logo .portfolio-header {
  width: 100%;
  color: #ffffff;
  text-align: center;
}

@media screen and (max-width: 1024px) and (min-width: 320px) {
  .portfolio-wrapper-two .portfolio-logo .portfolio-header {
    width: 208px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: inherit;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 12px;
  }
}

.portfolio-wrapper-two .portfolio-logo .portfolio-header h2 {
  font-family: "bely-display", sans-serif;
  font-size: 40px;
}

@media screen and (max-width: 600px) and (min-width: 320px) {
  .portfolio-wrapper-two .portfolio-logo .portfolio-header h2 {
    font-size: 22px;
  }
}

.portfolio-wrapper-two .portfolio-logo .portfolio-header h6 {
  font-family: "Lexend Zetta", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  opacity: 0.75;
  margin-top: 10px;
}

@media screen and (max-width: 600px) and (min-width: 320px) {
  .portfolio-wrapper-two .portfolio-logo .portfolio-header h6 {
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) and (min-width: 320px) {
  .portfolio-wrapper-two .portfolio-logo .portfolio-header h6 span {
    margin-left: 70px;
  }
}

.navbar-wrapper-two {
  width: 100%;
  height: 50vh;
  overflow: scroll;
}

.navbar-wrapper-two .navbar {
  width: 100%;
  background-color: #8d586a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  opacity: 1;
  font-family: "Lexend Zetta", sans-serif;
  height: 10vh;
}

@media screen and (max-width: 600px) and (min-width: 320px) {
  .navbar-wrapper-two .navbar {
    font-size: 14px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 601px) {
  .navbar-wrapper-two {
    height: 60vh;
  }
}

@media screen and (max-width: 600px) and (min-width: 320px) {
  .navbar-wrapper-two {
    height: 75vh;
  }
}

.navbar div {
  width: 478px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar div ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar div ul .tab {
  cursor: pointer;
}

.navbar div ul .active {
  border-bottom: 2px solid white;
}

@media screen and (max-width: 600px) and (min-width: 320px) {
  .navbar div {
    width: 320px;
  }
}

.about {
  display: none;
}

.about-wrapper {
  width: 100%;
  height: 40vh;
  background-color: #c099a9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

@media screen and (max-width: 1024px) and (min-width: 601px) {
  .about-wrapper {
    height: 50vh;
  }
}

@media screen and (max-width: 600px) and (min-width: 320px) {
  .about-wrapper {
    height: 65vh;
  }
}

@media screen and (max-width: 600px) and (min-width: 320px) {
  .about-wrapper {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.about-wrapper .about-content {
  width: 645px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 30px 0px;
  overflow-y: scroll;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Barlow", sans-serif;
  color: #ffffff;
  font-size: 16px;
}

@media screen and (max-width: 600px) and (min-width: 320px) {
  .about-wrapper .about-content {
    width: 320px;
    font-size: 14px;
    height: 100%;
    padding-top: 30px;
  }
}

.about-wrapper .about-content .about-text {
  width: 600px;
}

@media screen and (max-width: 600px) and (min-width: 320px) {
  .about-wrapper .about-content .about-text {
    width: 320px;
  }
}

.about-wrapper .about-content .about-text img {
  width: 30px;
  height: 30px;
  margin: 10px 5px;
}

.about-wrapper .about-content .about-text-two {
  width: 600px;
}

@media screen and (max-width: 600px) and (min-width: 320px) {
  .about-wrapper .about-content .about-text-two {
    width: 320px;
  }
}

.about-wrapper .about-content .about-toolbelt {
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 600px) and (min-width: 320px) {
  .about-wrapper .about-content .about-toolbelt {
    width: 320px;
  }
}

.about-wrapper .about-content .about-toolbelt .tool {
  padding: 14px 25px 14px;
  background-color: #8d586a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 14px 10px 0px 0px;
}

@media screen and (max-width: 600px) and (min-width: 320px) {
  .about-wrapper .about-content .about-toolbelt .tool {
    margin: 10px 8px 0px 0px;
  }
}

.projects {
  display: none;
}

.projects-wrapper {
  width: 100%;
  height: 40vh;
  background-color: #c099a9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

@media screen and (max-width: 1024px) and (min-width: 601px) {
  .projects-wrapper {
    height: 50vh;
  }
}

@media screen and (max-width: 600px) and (min-width: 320px) {
  .projects-wrapper {
    height: 65vh;
  }
}

.projects-wrapper .projects-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 30px 0px;
  overflow-y: scroll;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects-wrapper .projects-content .projects {
  width: 600px;
  height: 260px;
  padding-bottom: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  cursor: pointer;
}

@media screen and (max-width: 600px) and (min-width: 320px) {
  .projects-wrapper .projects-content .projects {
    width: 320px;
  }
}

.projects-wrapper .projects-content .projects .project {
  width: 295px;
  height: 125px;
  border-radius: 10px;
  background-color: #8d586a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 10px 10px 0px;
}

@media screen and (max-width: 600px) and (min-width: 320px) {
  .projects-wrapper .projects-content .projects .project {
    width: 155px;
    height: 125px;
  }
}

.projects-wrapper .projects-content .projects .project:hover {
  background-color: #00073b;
}

.hover {
  display: none;
}

.project:hover .hover {
  display: block;
  color: #ffffff;
  font-family: "Barlow", sans-serif;
  background-color: #00073b;
  text-align: left;
  width: 100%;
  padding: 0px 25px;
}

.project:hover .hover h1 {
  font-size: 20px;
  text-transform: uppercase;
  opacity: 0.75;
}

@media screen and (max-width: 600px) and (min-width: 320px) {
  .project:hover .hover h1 {
    font-size: 16px;
  }
}

.project:hover .hover p {
  font-size: 16px;
  opacity: 0.75;
}

@media screen and (max-width: 600px) and (min-width: 320px) {
  .project:hover .hover p {
    font-size: 12px;
  }
}

.project:hover img {
  display: none;
}

.contact {
  display: none;
}

.contact-wrapper {
  width: 100%;
  height: 40vh;
  background-color: #c099a9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

@media screen and (max-width: 1024px) and (min-width: 601px) {
  .contact-wrapper {
    height: 50vh;
  }
}

@media screen and (max-width: 600px) and (min-width: 320px) {
  .contact-wrapper {
    height: 65vh;
  }
}

.contact-wrapper .contact-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 30px 0px;
  overflow-y: scroll;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-wrapper .contact-content form {
  color: #ffffff;
  font-size: 16px;
  font-family: "Barlow", sans-serif;
  width: 600px;
  height: 275px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 600px) and (min-width: 320px) {
  .contact-wrapper .contact-content form {
    width: 295px;
  }
}

.contact-wrapper .contact-content form p {
  padding-bottom: 24px;
}

.contact-wrapper .contact-content form .form-contents {
  width: 600px;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 600px) and (min-width: 320px) {
  .contact-wrapper .contact-content form .form-contents {
    width: 295px;
  }
}

.contact-wrapper .contact-content form .form-contents .form-inputs {
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 600px) and (min-width: 320px) {
  .contact-wrapper .contact-content form .form-contents .form-inputs {
    width: 295px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact-wrapper .contact-content form .form-contents .form-inputs input {
  width: 295px;
  height: 50px;
  background-color: #A47988;
  border: none;
  outline: none;
  text-indent: 10px;
}

.contact-wrapper .contact-content form .form-contents .form-inputs input::-webkit-input-placeholder {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  color: #ffffff;
  opacity: 0.5;
}

.contact-wrapper .contact-content form .form-contents .form-inputs input:-ms-input-placeholder {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  color: #ffffff;
  opacity: 0.5;
}

.contact-wrapper .contact-content form .form-contents .form-inputs input::-ms-input-placeholder {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  color: #ffffff;
  opacity: 0.5;
}

.contact-wrapper .contact-content form .form-contents .form-inputs input::placeholder {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  color: #ffffff;
  opacity: 0.5;
}

.contact-wrapper .contact-content form .form-contents .form-inputs input[type="text"] {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  color: #ffffff;
}

.contact-wrapper .contact-content form .form-contents .form-inputs input[type="email"] {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  color: #ffffff;
}

@media screen and (max-width: 600px) and (min-width: 320px) {
  .contact-wrapper .contact-content form .form-contents .margin {
    margin-bottom: 12px;
  }
}

.contact-wrapper .contact-content form .form-contents textarea {
  width: 600px;
  height: 100px;
  padding: 10px 0px;
  background-color: #A47988;
  border: none;
  outline: none;
  resize: none;
  margin-top: 12px;
  text-indent: 10px;
}

.contact-wrapper .contact-content form .form-contents textarea::-webkit-input-placeholder {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  color: #ffffff;
  opacity: 0.5;
}

.contact-wrapper .contact-content form .form-contents textarea:-ms-input-placeholder {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  color: #ffffff;
  opacity: 0.5;
}

.contact-wrapper .contact-content form .form-contents textarea::-ms-input-placeholder {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  color: #ffffff;
  opacity: 0.5;
}

.contact-wrapper .contact-content form .form-contents textarea::placeholder {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  color: #ffffff;
  opacity: 0.5;
}

.contact-wrapper .contact-content form .form-contents textarea[type="text"] {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  color: #ffffff;
}

@media screen and (max-width: 600px) and (min-width: 320px) {
  .contact-wrapper .contact-content form .form-contents textarea {
    width: 295px;
    height: 80px;
  }
}

.contact-wrapper .contact-content form button {
  width: 225px;
  height: 60px;
  background: #00073b;
  color: #ffffff;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  border: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 18px;
}

@media screen and (max-width: 600px) and (min-width: 320px) {
  .contact-wrapper .contact-content form button {
    width: 295px;
    padding: 10px;
  }
}

.contact-wrapper .contact-content form button:hover {
  border-radius: 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
}

.modal .modal-close {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.modal .modal-close .modal-x {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.modal .modal-close .modal-x .close {
  color: #aaaaaa;
  font-size: 38px;
  font-weight: bold;
}

.modal .modal-close .modal-x .close:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .modal .modal-close .modal-x {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.modal .modal-content {
  background-color: #fefefe;
  margin: 10px auto 60px auto;
  width: 400px;
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .modal .modal-content {
    width: 380px;
  }
}

.modal .top {
  background-color: #00073b;
  height: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0px 20px;
}

.modal .top .top-logo {
  -ms-grid-column-align: left;
      justify-self: left;
}

.modal .top .top-logo img {
  height: 50px;
}

.modal .top .top-btn {
  justify-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.modal .top .top-btn button {
  width: 125px;
  height: 50px;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-family: "Barlow", sans-serif;
  background-color: #0075ed;
}

.modal .middle {
  background-color: blue;
  height: 200px;
  width: 100%;
}

.modal .middle img {
  width: 100%;
  height: 100%;
}

.modal .bottom {
  background-color: palevioletred;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 20px 40px 20px;
  font-family: "Barlow", sans-serif;
  background-color: #ffffff;
  font-size: 16px;
}

@media screen and (max-width: 600px) and (min-width: 320px) {
  .modal .bottom {
    font-size: 14px;
  }
}

.modal .bottom .bottom-content {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal .bottom .bottom-content .bottom-title p {
  opacity: 0.75;
  padding-bottom: 20px;
}

.modal .bottom .bottom-content .extra-padding {
  padding-top: 20px;
  font-weight: bold;
  opacity: 0.75;
}

.modal .bottom .bottom-content .bottom-tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.modal .bottom .bottom-content .bottom-tech .tech {
  padding: 14px 25px 14px;
  background-color: #e3e3e3;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 14px 10px 0px 0px;
}

@media screen and (max-width: 600px) and (min-width: 320px) {
  .modal .bottom .bottom-content .bottom-tech .tech {
    margin: 10px 8px 0px 0px;
  }
}
/*# sourceMappingURL=main.css.map */