* {
  box-sizing: border-box;
  margin: 0;
}

html {
  -webkit-tap-highlight-color: transparent;
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  width: 100%;
  min-height: -webkit-fill-available;
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available;
  min-height: 100%;
}

button {
  cursor: pointer;
}
button:focus {
  outline: none;
  box-shadow: none;
}
