* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

button {
  cursor: pointer;
}
